In [2]:
from pymongo import MongoClient

In [3]:
client= MongoClient('mongodb://localhost:27017/')

In [4]:
client.list_database_names()

['admin', 'config', 'cscorner', 'database2', 'demo', 'local', 'mydbms']

In [5]:
db = client["demo"]

In [6]:
db.list_collection_names()

['students']

In [7]:
collection = db["employee"]

In [9]:
employee = db["employee"]

In [10]:
employee.count_documents({})

0

In [16]:
employee.insert_one({"id":1,"name":"ramesh","batch":"A","salary":6000})

In [17]:
employee.insert_one({"id":2,"name":"manish","batch":"c","salary":8000})

In [20]:
employee.insert_one({"id":3,"name":"rakesh","batch":"B","salary":3000})

In [21]:
employee.count_documents({})

3

In [22]:
employee.find_one()

{'_id': ObjectId('652cdf7874d72169c2954085'),
 'id': 1,
 'name': 'ramesh',
 'batch': 'A',
 'salary': 6000}

In [35]:
data=[
     {"id":4,"name":"siddesh","batch":"A","salary":5000},
     {"id":5,"name":"abc","batch":"B","salary":9000},
     {"id":6,"name":"sudama","batch":"C","salary":7000},
      {"id":7,"name":"siddesh","batch":"A","salary":5000},
      {"id":8,"name":"jnanesh","batch":"B","salary":9000}]

In [34]:
employee.insert_many(data)

AttributeError: 'dict' object has no attribute 'insert_many'

In [28]:
for employee in employees.find():
  print(employee)

NameError: name 'employees' is not defined